GOOGLE_WEB_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
GOOGLE_IOS_CLIENT_ID=
KAKAO_NATIVE_APP_KEY=your_kakao_native_app_key
KAKAO_REST_API_KEY=your_kakao_rest_api_key
KAKAO_CLIENT_SECRET=
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret
NAVER_CALLBACK_SCHEME=kujihub
NAVER_CALLBACK_HOST=auth
NAVER_CALLBACK_PATH=/naver/callback
WEB_AUTH_SECRET=change_this_for_server_session_signing
VITE_GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com
VITE_KAKAO_REST_API_KEY=your_kakao_rest_api_key
VITE_NAVER_CLIENT_ID=your_naver_client_id
